mixin formulario()
    form(id="theForm")
        div.form-group
            label(for="formato") Formato (AsciiMath | TeX)
            select.form-control(name="f" id="f" )
                option(value="AsciiMath") AsciiMath
                option(value="TeX") TeX
        div.form-group
            label(for="e") Ecuacion
                textarea.form-control(name="e" id="e" rows=8 cols=40 value="e=m*c^2")
        div.form-group
            label(for="u") URL
                input.form-control(name="u" id="u"
                    value="https://gist.githubusercontent.com/jagedn/606c89b7902ab1ced17dcd041152583c/raw/dff16750cb67c65c3b0c447f8d775af4d72b3300/mathml2png.png")
        div.form-group
            label(for="s") Escala
                input.form-control(name="s" id="s" type="number" value=2)
        div.form-group
            label Transparente
                input(name="t" id="t" type="checkbox")

        div.form-group
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Generar

mixin scriptFormulario()
    script.
        function refreshImage() {
            var url = "/img/mathml.png?e=" + encodeURIComponent($("#e").val());
            url += "&f=" + encodeURIComponent($("#f").val());
            url += "&s=" + encodeURIComponent($("#s").val());
            url += "&u=" + encodeURIComponent($("#u").val());
            url += "&t=" + encodeURIComponent($("#t").prop('checked'));

            $('#image').attr('src', url);
            $('#laurl').attr('href', $('#image').prop('src'));
            $('#theUrl').text($('#image').prop('src'));
        }
        $(function () {
            $('#btnPreview').on('click', function (ev) {
                ev.preventDefault();
                $('#resultTweet').val($('#tweetEntry').val())
                refreshImage();
            });
        });


mixin formularioTwitter()
    form(id="theForm" action="/twitter/tweet" method="post")
        input(type='hidden' name='t' value='false')
        div.form-group
            label(for="tweet") Texto:
            textarea#tweetEntry.form-control(name="tweet" rows=3 cols=40 value="e=m*c^2")
        div.form-group
            label(for="f") Formato (AsciiMath | TeX)
            select.form-control(name="f" id="f" )
                option(value="AsciiMath") AsciiMath
                option(value="TeX") TeX
        div.form-group
            label(for="e") Ecuacion
            textarea.form-control(name="e" id="e" rows=4 cols=40) e=m*c^2
        div.form-group
            label(for="u") URL
                input.form-control(name="u" id="u"
                value="https://gist.githubusercontent.com/jagedn/606c89b7902ab1ced17dcd041152583c/raw/dff16750cb67c65c3b0c447f8d775af4d72b3300/mathml2png.png")
        div.form-group
            label(for="s") Escala
                input.form-control(name="s" id="s" type="number" value=2)
        div.form-group
            label(for="retweet") Retweet al ID (para hacer un Hilo por ejemplo)
            input#retweet.form-control(name="retweet")
        div.form-group
            button#btnPreview.btn.btn-lg.btn-primary.btn-block Preview
