extends layout
include ./editor.jade

block content
  div.row
      div.col-md-5
        +formulario()
      div.col-md-2

      div.col-md-5
          h3 Imagen
          p
              a(id="laurl", target='_blank' title="Pulsa para abrir en una ventana nueva")
                  img(id="image")
          h3 URL
          p
              span#theUrl

block scripts
    +scriptFormulario()
    script.
        $(function () {
            $('#theForm').on('submit', function (ev) {
                ev.preventDefault();
                refreshImage();
            });
            refreshImage();
        });