extends layout

block content
    div#myCarousel.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
            li.active(data-target="#myCarousel" data-slide-to="0")
            li(data-target="#myCarousel" data-slide-to="1")
            li(data-target="#myCarousel" data-slide-to="2")
            li(data-target="#myCarousel" data-slide-to="3")
            li(data-target="#myCarousel" data-slide-to="4")
            li(data-target="#myCarousel" data-slide-to="5")
        div.carousel-inner(role="listbox")
            div.item.active
                img(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==')
                div.container
                    div.carousel-caption
                        h1 x=(-b +- sqrt(b^2 – 4ac))/(2a)
                        img(src='/img/mathml.png?e=x=(-b +- sqrt(b^2 – 4ac))/(2a)&f=AsciiMath')

            div.item
                img(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==')
                div.container
                    div.carousel-caption
                        h1 x/x={(1,if x!=0),(text{undefined},if x=0):}
                        img(src='/img/mathml.png?e=x/x={(1,if x!=0),(text{undefined},if x=0):}&f=AsciiMath')

            div.item
                img(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==')
                div.container
                    div.carousel-caption
                        h1 [[a,b],[c,d]]((n),(k))
                        img(src='/img/mathml.png?e=[[a,b],[c,d]]((n),(k))&f=AsciiMath')

            div.item
                img(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==')
                div.container
                    div.carousel-caption
                        h1 \begin{aligned} \dot{x}  = \sigma(y-x) \\ \dot{y}  = \rho x - y - xz  \\ \dot{z}  = -\beta z + xy \end{aligned}
                        img(src='/img/mathml.png?e=\\begin{aligned} \\dot{x}  = \\sigma(y-x) \\\\ \\dot{y}  = \\rho x - y - xz  \\\\ \\dot{z}  = -\\beta z + xy \\end{aligned}&f=TeX')

            div.item
                img(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==')
                div.container
                    div.carousel-caption
                        h1 d/dxf(x)=lim_(h->0)(f(x+h)-f(x))/h
                        img(src='/img/mathml.png?e=d/dxf(x)=lim_(h->0)(f(x+h)-f(x))/h&f=AsciiMath')

            div.item
                img(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==')
                div.container
                    div.carousel-caption
                        h1 \left( \sum_{k=1}^n a_k b_k \right)^2 \leq \left( \sum_{k=1}^n a_k^2 \right) \left( \sum_{k=1}^n b_k^2 \right)
                        img(src='/img/mathml.png?e=\\left( \\sum_{k=1}^n a_k b_k \\right)^2 \\leq \\left( \\sum_{k=1}^n a_k^2 \\right) \\left( \\sum_{k=1}^n b_k^2 \\right)h&f=TeX')


        a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
            span.sr-only Previous

        a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            span.sr-only Next


      div.container
          div.row
              div.col-md-6
                  h2 Generar PNG
                  p.
                    Si quieres #[a(href="/img") generar] una imagen
                  p.
                    Una vez generada podrás descargarla u obtener una URL corta (próximamente)

              div.col-md-6
                h2 Twittear
                p.
                    Si quieres #[a(href="/twitter") twittear] una formula con texto
                p Deberás tener cuenta en Twitter y autorizar a la aplicación Mathml2PNG

          div.row
              div.col-md-6
                h2 About
                p.
                    Mathml2Png es una app OpenSource desarrollada por #[a(href="")@jagedn]
                p.
                    Puedes leer la documentación
                    #[a(href="https://puravida-software.gitlab.com/mathml2png/") aquí]

              div.col-md-6
                h2 Incidencias/Sugerencias
                p.
                    Para crear incidencias o sugerencias
                     puedes hacerlo #[a(href="https://gitlab.com/puravida-software/mathml2png/issues") aquí]
    div.footer
