extends layout
include ./editor.jade

block content
    div.row
        div.col-md-5
            +formularioTwitter()
        div.col-md-2

        div.col-md-5
            h3 Tweet
            textarea#resultTweet.form-control(name="tweet" rows=3 cols=40 readonly=true)
            p
                img(id="image")
            button#twittear.btn.btn-lg.btn-block Twittear

block scripts
    +scriptFormulario()
    script.
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };
            return t;
        }(document, "script", "twitter-wjs"));

        $(function () {
            $('#twittear').on('click', function (ev) {
                ev.preventDefault();
                console.log("tittear")
                $('#theForm').submit();
            });
        });
